@model IEnumerable<ProfileViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-route-sortOrder="@Html.NameFor(m => m.First().FirstName)">
                    @Html.DisplayNameFor(m => m.FirstName)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@Html.NameFor(m => m.First().LastName)">
                    @Html.DisplayNameFor(m => m.LastName)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@Html.NameFor(m => m.First().Birthday)">
                    @Html.DisplayNameFor(m => m.Birthday)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in Model)
            {
                <tr>
                    <td>
                        @profile.FirstName
                    </td>
                    <td>
                        @profile.LastName
                    </td>
                    <td>
                        @profile.Birthday.ToString("dd.MM.yyyy")
                    </td>
                </tr>
            }
    </tbody>
</table>
